html, body {
  height: 100%;
  width: 100%;
  background-color: 'white';
  color: #444;
  text-align: center;
}

.container {
  width: 400px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-family: 'Montserrat', sans-serif;
  margin: 15px;
  padding: 0;
}

h1 { margin: 50px 0 25px 0; }

.outer-ring {
  height: 400px;
  width: 400px;
  border-radius: 200px;
  background-color: white;
  position: absolute;
}

.inner-ring {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  background-color: white;
  position: absolute;
  top: 125px;
  left: 125px;
}

.inner-ring h2 {
  line-height: 125px;
}

.quarter-circle-top-left{
  width: 190px;
  height: 190px;
  border-radius: 190px 0 0 0;
  -moz-border-radius: 190px 0 0 0;
  -webkit-border-radius: 190px 0 0 0;
  float: left;
  border: 5px solid white;
  cursor: pointer;
}

.quarter-circle-top-right{
  width: 190px;
  height: 190px;
  border-radius: 0 190px 0 0;
  -moz-border-radius: 0 190px 0 0;
  -webkit-border-radius: 0 190px 0 0;
  float: left;
  border: 5px solid white;
  cursor: pointer;
}

.quarter-circle-bottom-left{
  width: 190px;
  height: 190px;
  border-radius: 0 0 0 190px;
  -moz-border-radius: 0 0 0 190px;
  -webkit-border-radius: 0 0 0 190px;
  float: left;
  border: 5px solid white;
  cursor: pointer;
}

.quarter-circle-bottom-right{
  width: 190px;
  height: 190px;
  border-radius: 0 0 190px 0;
  -moz-border-radius: 0 0 190px 0;
  -webkit-border-radius: 0 0 190px 0;
  float: left;
  border: 5px solid white;
  cursor: pointer;
}

.green  { background-color: rgb(46,204,113);  }
.red    { background-color: rgb(214,69,65);   }
.yellow { background-color: rgb(245,215,110); }
.blue   { background-color: rgb(82,179,217);  }

.green:hover  { border: 5px solid rgb(46,204,113);  }
.red:hover    { border: 5px solid rgb(214,69,65);   }
.yellow:hover { border: 5px solid rgb(245,215,110); }
.blue:hover   { border: 5px solid rgb(82,179,217);  }

.active { opacity: 0.5; }

.message {
  margin-top: 20px;
  clear: both;
}

.score {
  margin-top: 450px;
  clear: both;
}

.score h2 { color: #666;}
